<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Project MotherSystem_Version="" Name="Arduino_XMC1300_LL" Path="C:\UserData\Projects\DAVE3_workspace\ws\Arduino_XMC1300_LL">
    <COMPILER>
        <Name>ARM-GCC</Name>
        <Version/>
        <Memory_Model/>
    </COMPILER>
    <DEVICE>
        <Sales_Code>XMC1302-T038X0200</Sales_Code>
        <Description/>
    </DEVICE>
    <Generated_Files>
        <Source_Files>
            <Source_File>
                <File_Name>CCU4GLOBAL.c</File_Name>
                <Path>\Dave\Generated\src\CCU4GLOBAL\CCU4GLOBAL.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>CCU4GLOBAL_Conf.c</File_Name>
                <Path>\Dave\Generated\src\CCU4GLOBAL\CCU4GLOBAL_Conf.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>CLK002.c</File_Name>
                <Path>\Dave\Generated\src\CLK002\CLK002.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>DAVE3.c</File_Name>
                <Path>\Dave\Generated\src\DAVESupport\DAVE3.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>MULTIPLEXER.c</File_Name>
                <Path>\Dave\Generated\src\DAVESupport\MULTIPLEXER.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>CCU8PWMLIB.c</File_Name>
                <Path>\Dave\Generated\src\LIBS\CCU8PWMLIB.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>MOTORLIB.c</File_Name>
                <Path>\Dave\Generated\src\LIBS\MOTORLIB.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>FASTMATH01.c</File_Name>
                <Path>\Dave\Generated\src\MATHLIBS\FASTMATH01.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>MATH01.c</File_Name>
                <Path>\Dave\Generated\src\MATHLIBS\MATH01.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>MATHLLD01.c</File_Name>
                <Path>\Dave\Generated\src\MATHLIBS\MATHLLD01.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>STDMATH01.c</File_Name>
                <Path>\Dave\Generated\src\MATHLIBS\STDMATH01.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>NVIC_SR101.c</File_Name>
                <Path>\Dave\Generated\src\NVIC_SR101\NVIC_SR101.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>NVIC_SR101_Conf.c</File_Name>
                <Path>\Dave\Generated\src\NVIC_SR101\NVIC_SR101_Conf.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>PWMSP001.c</File_Name>
                <Path>\Dave\Generated\src\PWMSP001\PWMSP001.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>PWMSP001_Conf.c</File_Name>
                <Path>\Dave\Generated\src\PWMSP001\PWMSP001_Conf.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>RTC001.c</File_Name>
                <Path>\Dave\Generated\src\RTC001\RTC001.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>RTC001_Conf.c</File_Name>
                <Path>\Dave\Generated\src\RTC001\RTC001_Conf.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>SYSTM002.c</File_Name>
                <Path>\Dave\Generated\src\SYSTM002\SYSTM002.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>UART001.c</File_Name>
                <Path>\Dave\Generated\src\UART001\UART001.c</Path>
                <Type>C File</Type>
            </Source_File>
            <Source_File>
                <File_Name>UART001_Conf.c</File_Name>
                <Path>\Dave\Generated\src\UART001\UART001_Conf.c</Path>
                <Type>C File</Type>
            </Source_File>
        </Source_Files>
        <Header_Files>
            <Header_File>
                <File_Name>CCU4GLOBAL.h</File_Name>
                <Path>\Dave\Generated\inc\CCU4GLOBAL\CCU4GLOBAL.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>CCU4GLOBAL_Conf.h</File_Name>
                <Path>\Dave\Generated\inc\CCU4GLOBAL\CCU4GLOBAL_Conf.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>CLK002.h</File_Name>
                <Path>\Dave\Generated\inc\CLK002\CLK002.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>CLKVAL_SSW.h</File_Name>
                <Path>\Dave\Generated\inc\CLK002\CLKVAL_SSW.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>DAVE3.h</File_Name>
                <Path>\Dave\Generated\inc\DAVESupport\DAVE3.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>Device_Data.h</File_Name>
                <Path>\Dave\Generated\inc\DAVESupport\Device_Data.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>MULTIPLEXER.h</File_Name>
                <Path>\Dave\Generated\inc\DAVESupport\MULTIPLEXER.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>CCU8PWMLIB.h</File_Name>
                <Path>\Dave\Generated\inc\LIBS\CCU8PWMLIB.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>LIBS.h</File_Name>
                <Path>\Dave\Generated\inc\LIBS\LIBS.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>MOTORLIB.h</File_Name>
                <Path>\Dave\Generated\inc\LIBS\MOTORLIB.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>types.h</File_Name>
                <Path>\Dave\Generated\inc\LIBS\types.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>FASTMATH01.h</File_Name>
                <Path>\Dave\Generated\inc\MATHLIBS\FASTMATH01.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>MATH01.h</File_Name>
                <Path>\Dave\Generated\inc\MATHLIBS\MATH01.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>MATHLLD01.h</File_Name>
                <Path>\Dave\Generated\inc\MATHLIBS\MATHLLD01.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>STDMATH01.h</File_Name>
                <Path>\Dave\Generated\inc\MATHLIBS\STDMATH01.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>MOTORLIBS.h</File_Name>
                <Path>\Dave\Generated\inc\MOTORLIBS\MOTORLIBS.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>NVIC_SR101.h</File_Name>
                <Path>\Dave\Generated\inc\NVIC_SR101\NVIC_SR101.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>NVIC_SR101_Conf.h</File_Name>
                <Path>\Dave\Generated\inc\NVIC_SR101\NVIC_SR101_Conf.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>PWMSP001.h</File_Name>
                <Path>\Dave\Generated\inc\PWMSP001\PWMSP001.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>PWMSP001_Conf.h</File_Name>
                <Path>\Dave\Generated\inc\PWMSP001\PWMSP001_Conf.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>RTC001.h</File_Name>
                <Path>\Dave\Generated\inc\RTC001\RTC001.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>RTC001_Conf.h</File_Name>
                <Path>\Dave\Generated\inc\RTC001\RTC001_Conf.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>RTC001_Extern.h</File_Name>
                <Path>\Dave\Generated\inc\RTC001\RTC001_Extern.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>SYSTM002.h</File_Name>
                <Path>\Dave\Generated\inc\SYSTM002\SYSTM002.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>UART001.h</File_Name>
                <Path>\Dave\Generated\inc\UART001\UART001.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>UART001_Conf.h</File_Name>
                <Path>\Dave\Generated\inc\UART001\UART001_Conf.h</Path>
                <Type>H File</Type>
            </Header_File>
            <Header_File>
                <File_Name>Usic.h</File_Name>
                <Path>\Dave\Generated\inc\UART001\Usic.h</Path>
                <Type>H File</Type>
            </Header_File>
        </Header_Files>
        <Library_Files/>
        <Assembly_Files/>
    </Generated_Files>
    <Include_Path>
        <Path>\Dave\Generated\inc\MATHLIBS</Path>
        <Path>\Dave\Generated\inc\DAVESupport</Path>
        <Path>\Dave\Generated\inc\MOTORLIBS</Path>
        <Path>\Dave\Generated\inc\LIBS</Path>
    </Include_Path>
    <Preprocessor_Symbols>
        <Assembler_Symbol>UC_ID=1301027</Assembler_Symbol>
        <Assembler_Symbol>DAVE_CE=</Assembler_Symbol>
        <Compiler_Symbol>UC_ID=1301027</Compiler_Symbol>
        <Compiler_Symbol>DAVE_CE=</Compiler_Symbol>
    </Preprocessor_Symbols>
</Project>
